.about{
  height: 95vh;
  margin: 2rem auto;
  position: relative;
  &__logo {
    width: 80%;
    &__square{
      width: 15rem;
      &--1{
        top:10em;
        position: absolute;
      }
      &--2{
        top:11em;
        position: absolute;
      }
      &--3{
        top:12em;
        position: absolute;
      }
    }
    &__name{
      position: relative;
      width: 15rem;
      top: 9em;
    }
    &__role{
      position: relative;
      width: 11rem;
      top: 10em;
    }

  }


}
