<section fxLayout="column" fxLayoutAlign="center center" class="about">
  <div class="about__logo" fxLayout="column" fxLayoutAlign="center center">
    <img class="about__logo__square about__logo__square--1" src="../../assets/logos/large-logo-elements/square.png" alt="" >
    <img class="about__logo__square about__logo__square--2" src="../../assets/logos/large-logo-elements/square.png" alt="" >
    <img class="about__logo__square about__logo__square--3" src="../../assets/logos/large-logo-elements/square.png" alt="" >
  </div>
  <img class="about__logo__name" src="../../assets/logos/large-logo-elements/naomi-quinn.png" alt="" [@fadeIn]>
  <img class="about__logo__role" src="../../assets/logos/large-logo-elements/designer-developer.png" alt="" [@fadeIn]>
</section>
