<div class="nav">
    <div class="nav__logo">
        <a href="index.html">
          <h1>NAOMI QUINN</h1>
        </a>
      </div>
      <div class="nav__button">
        <a *ngIf="showBurger" class="nav__button__link" (click)="openNav()">
          <img src="../../assets/svgs/burger-menu.svg" alt="">
        </a>
      </div>



      <!-- The overlay -->
      <div id="myNav" class="nav__overlay">
        <!-- Button to close the overlay navigation -->
        <a  *ngIf="!showBurger" class="nav__button__link" class="nav__button__link" (click)="closeNav()">
            <img src="../../assets/svgs/close-menu.svg" alt="">
        </a>

        <div class="nav__overlay__content">
          <a href="#">About</a>
          <a href="#">Work</a>
          <a href="#">Play</a>
          <a href="#">Contact</a>
        </div>
      </div>
</div>

