@import '../../assets/scss/mixins';
.nav {
  position: fixed;
  display: block;
  background-color: #23DFDA ;
  &__logo {
    position: fixed;
    display: block;
    left: 4em;
    top: 2em;

    img  {
      height: 9rem;
    }
    @include small-screen{
      top: 2em;
      left: 1.5rem;
    }
    height: auto;

    a {
      color: black;
      text-decoration: none;
      line-height: inherit;
      cursor: pointer;
    }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    1%   { opacity: 1; }
  }

  &__button {
    position: fixed;
    width: 4em;
    height: 4em;

    &__link {
      position: fixed;
      top: 3.7em;
      right: 5em;
      @include small-screen{
        top: 2.7em;
        right: 1.5rem;
      }
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
    }
  }

}
