@import '../../assets/scss/mixins';
.nav {
  position: fixed;
  display: block;
  &__logo {
    position: fixed;
    display: block;
    left: 4em;
    top: 2em;

    img  {
      height: 9rem;
    }
    @include small-screen{
      top: 2em;
      left: 1.5rem;
    }
    height: auto;

    a {
      color: black;
      text-decoration: none;
      line-height: inherit;
      cursor: pointer;
    }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    1%   { opacity: 1; }
  }

  &__button {
    position: fixed;
    width: 4em;
    height: 4em;

    &__link {
      position: fixed;
      top: 3.7em;
      right: 5em;
      @include small-screen{
        top: 2.7em;
        right: 1.5rem;
      }
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
    }
  }

  &__overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    transition: 0.5s;
      &__content {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      a {
        padding: 8px;
        text-decoration: none;
        font-size: 3rem;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover{
          color: white;
        }
      }

    }
  }
}
